*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#00c6ff,#0072ff);
}

.card{
    width:350px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius:20px;
    padding:30px;
    text-align:center;
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.search{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.search input{
    width:75%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
}

.search button{
    border:none;
    background:white;
    border-radius:10px;
    padding:10px 15px;
    cursor:pointer;
}

.weather-icon{
    width:120px;
    margin:20px auto;
}

.temp{
    font-size:48px;
    font-weight:bold;
}

.city{
    font-size:26px;
    margin-bottom:20px;
}

.details{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.col{
    display:flex;
    align-items:center;
    gap:10px;
}

